.container-highscore-window {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin: 2% 0 2% 0;
}

.quiz-window {
    display: flex;
    width: 80%;
    height: 90vh;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    flex-direction: column;
    padding: 2%;
}

.score-record {
    display: flex;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    width: 22%;
    padding-top: 3%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#score-title {
    font-size: 110%;
    font-weight: bold;
}

.score-list-show {
    display: column;
    flex-direction: column;
    max-width:95%;
    max-height: 100%;
}
.score-list-hide {
    display: none;
}

.score-record li {
    margin: 3% 0 3% 0;
    border-color: rgb(206, 37, 93);
    border-style: solid;
    padding: 2%
}

.score-record button {
    margin: 5%;
    padding: 2%
}



#time-remaining {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
    margin-right: 5%
}

#quiz-description {
    font-size: 110%;
    line-height: 1.5;
}

#quiz-content {
    width: 100%;
    height: 95%;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: nowrap
}

.start-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0.5%;
    padding: 0.5%;
}

#quiz-description {
    border-style: solid;
    border-color: black;
    height: 80%;
    text-indent: 3%;
    padding-top: 2%;
    padding-left: 0.5%;
}

#start-button {
    font-size: 150%;
    padding: 2%;
    max-width: 30%;
    min-width: fit-content;
    align-self: center;
    margin-top: 3.5%;
    margin-bottom: 1%;

}

.revealed-quiz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3%;
}

.revealed-quiz p {
    font-weight: bold;
    font-size: 150%;
    align-self: flex-start;
    justify-self: flex-start;
    margin-bottom: 5%;
}

.revealed-quiz li {
    border-radius: 1%;
    border-style: solid;
    border-color: rgb(90, 38, 158);
    margin: 25% 0 25% 5%;
    padding: 2%;
    width: 180%;
    height: fit-content;
    background-color: antiquewhite;
    font-size: 125%;

}

.revealed-quiz li:hover {
    border-color: rgb(208, 19, 19);

}

#score-form-container {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 5%;
}

#score-form-input {
    width: 60%;
    height: 10%;
}

#submit-score-button {
    width: fit-content;
    height: fit-content;
    font-size: 150%;
    padding: 1%;
}


.hidden-quiz {
    display: none;
}

#check-last-question {
    align-self: center;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 2%;
    width: fit-content;
    height: 5%;
}